<footer class="text-center text-lg-start bg-black text-white">
    <!-- Redes Sociales -->
    <div class="d-flex justify-content-center p-2">
        <a href="" class="text-reset px-2">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="text-reset px-2">
            <i class="fab fa-twitter"></i>
        </a>
        <!-- Más iconos de redes sociales -->
    </div>

    <!-- Información de Contacto y Enlaces -->
    <div class="container text-center text-md-start py-2">
        <div class="row">
            <div class="col-md-6 col-lg-4 mx-auto mb-3">
                <h6 class="text-uppercase fw-bold mb-2">
                    <i class="fas fa-gem me-2"></i>Tu Tienda de Funko
                </h6>
                <p class="small">Dirección de tu tienda</p>
                <p class="small">info&#64;tutiendadefunko.com</p>
            </div>

            <div class="col-md-6 col-lg-4 mx-auto mb-3">
                <h6 class="text-uppercase fw-bold mb-2">
                    Enlaces útiles
                </h6>
                <p class="small"><a href="#!" class="text-reset">Tu Cuenta</a></p>
                <!-- Más enlaces útiles -->
            </div>
        </div>
    </div>

    <!-- Derechos Reservados -->
    <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Derechos Reservados: <a class="text-white" href="https://tutiendadefunko.com/">tutiendadefunko.com</a>
    </div>
</footer>
